{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    visuallyHiddenTitle: messages("footer.links.support_links"),
    items: [
      {
        href: "/help/cookies",
        text: messages("footer.links.cookies")
      },
      {
        href: "/accessibility-statement/register-for-exchange-of-information",
        text: messages("footer.links.accessibility")
      },
      {
        href: "/help/privacy",
        text: messages("footer.links.privacy")
      },
      {
        href: "/help/terms-and-conditions",
        text: messages("footer.links.terms")
      },
       {
         href: "https://www.gov.uk/help",
         text: messages("footer.links.help")
       },
       {
         href: "https://www.gov.uk/government/organisations/hm-revenue-customs/contact",
         text: messages("footer.links.contact")
       },
       {
         href: "https://www.gov.uk/cymraeg",
         text: messages("footer.links.welsh")
       }
    ]
  }
}) }}
