{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("addressUK.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back"),
    classes: "js-enabled"
  }) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">

          {{ csrf() | safe }}

         {% call govukFieldset({
           legend: {
             text: messages("addressUK.heading"),
             classes: "govuk-fieldset__legend--l",
             isPageHeading: true
           }
         }) %}

          {{ govukInput({
            label: {
              text: messages('addressUK.addressLine1')
            },
            id: "addressLine1",
            name: "addressLine1",
            value: form.addressLine1.value,
            autocomplete: "address-line1",
            errorMessage: form.addressLine1.error,
            classes: "govuk-input govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressUK.addressLine2')
            },
            id: "addressLine2",
            name: "addressLine2",
            value: form.addressLine2.value,
            autocomplete: "address-line2",
            errorMessage: form.addressLine2.error,
            classes: "govuk-input govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressUK.addressLine3')
            },
            id: "addressLine3",
            name: "addressLine3",
            value: form.addressLine3.value,
            autocomplete: "address-level1",
            errorMessage: form.addressLine3.error,
            classes: "govuk-input govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressUK.addressLine4')
            },
            id: "addressLine4",
            name: "addressLine4",
            autocomplete: "",
            value: form.addressLine4.value,
            errorMessage: form.addressLine4.error,
            classes: "govuk-input govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
           label: {
              text: messages('addressUK.postCode')
           },
           classes: "govuk-input--width-10",
           id: "postCode",
           name: "postCode",
           value: form.postCode.value,
           autocomplete: "postal-code",
           errorMessage: form.postCode.error
          }) }}

          <div class="hide-field">
            {{ govukSelect({
              label: {
                text: messages('addressUK.countryCode')
              },
              classes: "govuk-input--width-20 autocomplete",
              id: "country",
              name: "country",
              attributes: {
                autocomplete: "country-name"
              },
              errorMessage: form.country.error,
              items: countries
            }) }}
          </div>

          {{ govukButton({
            text: messages("site.continue"),
            attributes:{"id": "submit"}
          }) }}

          {% endcall %}

        </form>

      </div>
    </div>


{% endblock %}
