{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "macros/title.njk"                         import title %}

{% if registeringAsBusiness %}
 {% set heading1 = messages("addressWithoutId.business.heading") %}
{% else %}
   {% set heading1 = messages("addressWithoutId.individual.heading") %}
{% endif %}


{% block pageTitle %}
   {% if registeringAsBusiness %}
         {{ title(messages("addressWithoutId.business.title"), form.errors) }}
   {% else %}
      {{ title(messages("addressWithoutId.individual.title"), form.errors) }}
   {% endif %}
{% endblock %}

 {% block beforeContent %}
   {{ govukBackLink({
     text: messages("site.back")
   }) }}
 {% endblock %}

{% block mainContent %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">

          {{ csrf() | safe }}

         {% call govukFieldset({
           legend: {
             text: heading1,
             classes: "govuk-fieldset__legend--l",
             isPageHeading: true
           }
         }) %}

          {{ govukInput({
            label: {
              text: messages('addressWithoutId.addressLine1')
            },
            id: "addressLine1",
            classes: "govuk-input govuk-!-width-two-thirds",
            name: "addressLine1",
            value: form.addressLine1.value,
            autocomplete: "address-line1",
            errorMessage: form.addressLine1.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressWithoutId.addressLine2')
            },
            id: "addressLine2",
            classes: "govuk-input govuk-!-width-two-thirds",
            name: "addressLine2",
            value: form.addressLine2.value,
            autocomplete: "address-line2",
            errorMessage: form.addressLine2.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressWithoutId.addressLine3')
            },
            id: "addressLine3",
            classes: "govuk-input govuk-!-width-two-thirds",
            name: "addressLine3",
            value: form.addressLine3.value,
            autocomplete: "address-level2",
            errorMessage: form.addressLine3.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('addressWithoutId.addressLine4')
            },
            id: "addressLine4",
            classes: "govuk-input govuk-!-width-two-thirds",
            name: "addressLine4",
            value: form.addressLine4.value,
            autocomplete: "address-level1",
            errorMessage: form.addressLine4.error
          }) }}

          {{ govukInput({
           label: {
              text: messages('addressWithoutId.postCode')
           },
           classes: "govuk-input govuk-input--width-10",
           id: "postCode",
           name: "postCode",
           value: form.postCode.value,
           autocomplete: "postal-code",
           errorMessage: form.postCode.error
          }) }}

          {{ govukSelect({
            classes: "govuk-input--width-20 autocomplete",
            label: {
              text: messages('addressWithoutId.countryCode')
            },
            id: "country",
            name: "country",
            attributes: {
              autocomplete: "country-name"
            },
            autocomplete: "country-name",
            errorMessage: form.country.error,
            items: countries
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes:{"id": "submit"}
          }) }}

          {% endcall %}

        </form>

      </div>
    </div>

{% endblock %}
