{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("checkYourAnswers.title")) }}
{% endblock %}

 {% block beforeContent %}
   {{ govukBackLink({
     text: messages("site.back")
   }) }}
 {% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("checkYourAnswers.heading") }}
        </h1>

        <h2 class="govuk-heading-m">
          {{ messages("checkYourAnswers.firstContact.h2") }}
        </h2>
        {{ govukSummaryList({
          rows: firstContactList
        }) }}

        <div class="govuk-!-padding-top-6">
          <h2 class="govuk-heading-m">
            {{ messages("checkYourAnswers.secondContact.h2") }}
          </h2>
          {{ govukSummaryList({
            rows: secondContactList
          }) }}
        </div>
  
        <div class="govuk-!-padding-top-6">
          <h2 class="govuk-heading-m">
            {{ messages("checkYourAnswers.information.h2") }}
          </h2>
          <p class="govuk-body">
            {{ messages("checkYourAnswers.information.p") }}
          </p>
        </div>

        <form action="{{ action }}" method="post">
            {{ csrf() | safe }}

            {{ govukButton({
              text: messages("checkYourAnswers.button"),
              preventDoubleClick: true,
              attributes: {id:"submit"}
            }) }}
        </form>

      </div>
    </div>
  </div>

{% endblock %}
