{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("individualAlreadyRegistered.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("individualAlreadyRegistered.heading") }}
        </h1>

        <p class="govuk-body">
                {{ messages("individualAlreadyRegistered.p1") }}
        </p>

        <p class="govuk-body">
          <a href="{{ loginGG }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ messages("individualAlreadyRegistered.link") }}</a>
        </p>


        <p class="govuk-body">
          {{ messages("individualAlreadyRegistered.p2") }}
                      <a href="mailto:{{emailAddress}}" class="govuk-link">{{emailAddress}}</a>
        </p>
      </div>
    </div>

{% endblock %}
