{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}

{% block pageTitle %}
  {{ title(messages("noRecordsMatched.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back")
  }) }}
{% endblock %}

{% block mainContent %}
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("noRecordsMatched.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("noRecordsMatched.p1") }}</p>

        <p class="bottom-margin govuk-body"> {{ messages("noRecordsMatched.p2")}}
            <a href="{{startUrl}}" class="govuk-link">{{ messages("noRecordsMatched.link")}}</a>.
        </p>

      </div>
   </div>

{% endblock %}
