{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("registrationConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set panelTitle = messages("registrationConfirmation.panel.html")+'<div id=\"'+subscriptionID+'\"><strong>'+subscriptionID+'</strong></div>'|safe %}

        {{ govukPanel({
          titleText: messages("registrationConfirmation.panel"),
          html: panelTitle
        }) }}

        <div class="govuk-body">
          <p>{{ messages("registrationConfirmation.subscriptionID.text") }}</p>

          <h2 class="govuk-heading-m">
            {{ messages("registrationConfirmation.heading") }}
          </h2>

          <p>{{ messages("registrationConfirmation.email") }}</p>
          <p>
            {{ messages("registrationConfirmation.submission.text") }}
            <a href={{submissionUrl}} class="govuk-link">{{messages("registrationConfirmation.submission.link")}}</a>
            {{ messages("registrationConfirmation.submission.text."+regime) }}
          </p>
          <p>
            <a class='govuk-link' id='feedback-link' href='{{betaFeedbackSurvey}}' rel='noreferrer noopener' target='_blank'>
              {{ messages("registrationConfirmation.survey.link") }}
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
