{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("registrationConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set panelTitle = messages("registrationConfirmation.panel.html")+'<div id=\"'+subscriptionID+'\"><strong>'+subscriptionID+'</strong></div>'|safe %}

        {{ govukPanel({
          titleText: messages("registrationConfirmation.panel"),
          html: panelTitle
        }) }}

        <div class="govuk-body">
          <h2 class="govuk-heading-m govuk-!-padding-top-2">{{ messages("registrationConfirmation.heading") }}</h2>

          <p>{{ messages("registrationConfirmation.p1") }}</p>

          <p>{{ messages("registrationConfirmation.p2") }}</p>

          <p>
            {{ messages("registrationConfirmation.p3") }}
            <a href={{submissionUrl}} class="govuk-link">{{messages("registrationConfirmation.p3.link")}}</a>
            {{ messages("registrationConfirmation.p3b") }}
          </p>

          <p>
            <a class='govuk-link' id='feedback-link' href='{{betaFeedbackSurvey}}' rel='noreferrer noopener' target='_blank'>
              {{ messages("registrationConfirmation.survey.link") }}
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
