{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("unauthorisedAssistant.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("unauthorisedAssistant.heading") }}
        </h1>

          <p class="govuk-body"> {{ messages("unauthorisedAssistant.paragraph.1")}}</p>

          <p class="govuk-body"> {{ messages("unauthorisedAssistant.paragraph.2a")}}
            <a href= "{{ loginUrl }}" class="govuk-link">{{ messages("unauthorisedAssistant.paragraph.2b") }}</a>
            {{ messages("unauthorisedAssistant.paragraph.2c")}}</p>

          <p class="govuk-body"> {{ messages("unauthorisedAssistant.paragraph.3")}}</p>

          <p class="govuk-body"> {{ messages("unauthorisedAssistant.paragraph.4")}}</p>

      </div>
    </div>
  </div>

{% endblock %}
