{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("utr.title", taxType), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back"),
    classes: "js-enabled"
  }) }}
{% endblock %}

{% block mainContent %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">

          {{ csrf() | safe }}

            <h1 class="govuk-heading-l">{{ messages("utr.heading", taxType) }}</h1>
            <p class="govuk-body">{{ messages("utr.p1") }}
            <span> <a class='govuk-link text-overflow' href='{{lostUTRUrl}}' rel='noreferrer noopener'> {{ messages("utr.p1.link") }}</a>.</span></p>

            {{ govukInput({
                label: {
                  text: messages('utr.heading', taxType),
                  isPageHeading: false,
                  classes: "govuk-label--l text-overflow govuk-visually-hidden"
                },
                classes: "govuk-input--width-10",
                id: "value",
                name: "value",
                hint: { text: messages('utr.hint', taxType) },
                value: form.value.value,
                errorMessage: form.value.error
            }) }}


          {{ govukButton({
            text: messages("site.continue"),
            attributes: {
              "id": "submit"
            }
          }) }}

        </form>
      </div>
    </div>

{% endblock %}
