{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("whatIsYourName.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back"),
    classes: "js-enabled"
  }) }}
{% endblock %}

{% block mainContent %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ action }}" method="post">

          {{ csrf() | safe }}

        <h1 class="govuk-heading-l">
          {{ messages("whatIsYourName.heading") }}
        </h1>

          {{ govukInput({
            label: {
              text: messages('whatIsYourName.firstName')
            },
            id: "firstName",
            name: "firstName",
            autocomplete: "given-name",
            spellcheck: false,
            value: form.firstName.value,
            errorMessage: form.firstName.error,
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: messages('whatIsYourName.lastName')
            },
            id: "lastName",
            name: "lastName",
            autocomplete: "family-name",
            spellcheck: false,
            value: form.lastName.value,
            errorMessage: form.lastName.error,
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {
              "id": "submit"
            }
          }) }}

        </form>

      </div>
    </div>

{% endblock %}
