$govuk-assets-path: "/register-for-exchange-of-information/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/register-for-exchange-of-information/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "partials/header";
@import "partials/file_upload";
@import "partials/spinner";
@import "partials/overflow";
@import "partials/timeout-dialog.scss";

svg.autocomplete__dropdown-arrow-down {
  pointer-events: none;
}

.hide-field {
  display: none;
}

.bottom-margin {
  margin-bottom: 2em;
}

body:not(.js-enabled) .js-enabled {
  display: none;
}